---
import { getCollection } from "astro:content";
import HeaderCard from "../components/HeaderCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from 'astro-icon/components';

const courses = await getCollection('courses')
---

<BaseLayout>
  <HeaderCard>
    <h1 class="font-bold text-2xl text-blue-900">รวมคอร์สเรียนฟรี สำหรับการพัฒนาโปรแกรม ในสายงาน Full-stack Web Developer</h1>
    <p class="mt-2">รับชมคอร์สเรียนฟรีผ่านทาง YouTube โดย นครโค้ด เรียนแบบตามลำดับ Step-by-step ทำให้ผู้เรียนเข้าใจลำดับการเรียนมากขึ้น</p>
  </HeaderCard>

  <div class="my-8">
    <blockquote class="ml-2 pl-6 pr-4 py-4 rounded bg-gray-50 border-l-4">
      สำหรับผู้เรียนใหม่ สามารถเริ่มเรียนจากคอร์สเรียนแรกตามลำดับได้เลย! หากมีการลำดับสับสนระหว่างเรียนผ่าน YouTube แนะนำให้กลับมาดูที่เว็บไซต์ <a href="https://nakorncode.com/" class="link">https://nakorncode.com/</a> (นครโค้ด) เว็บหลักของเราอีกครั้ง
    </blockquote>
  </div>

  <div>
    <ul class="flex flex-col gap-4">
      {courses.map((course, i) => (
        <li>
          <div class="flex items-stretch rounded-lg transition hover:shadow-md">
            <div class="w-64 flex">
              <img src={course.data.image} alt={course.data.title} class="rounded-l-lg object-cover"/>
            </div>
            <div class="flex-1 border flex flex-col gap-3 p-4 rounded-r-lg">
              <h2 class="text-lg font-bold">
                <a class="link" href={`/courses/${course.slug}`}>{i + 1}. {course.data.title}</a>
              </h2>
              <div>{course.data.description}</div>
              <ul class="mt-2 flex flex-wrap items-center gap-1">
                <li>
                  <a class="course-btn bg-blue-700 hover:bg-blue-900" href={`/courses/${course.slug}`}>
                    <Icon name="mdi:file-find"></Icon>
                    <span>ดูรายละเอียด</span>
                  </a>
                </li>
                <li>
                  <a class="course-btn bg-red-600 hover:bg-red-800" href={course.data.url.youtube}>
                    <Icon name="mdi:youtube"></Icon>
                    <span>รับชมบน YouTube</span>
                  </a>
                </li>
                {course.data.url.docs &&
                  <li>
                    <a class="course-btn bg-gray-600 hover:bg-gray-800" href={course.data.url.docs}>
                      <Icon name="mdi:file-document"></Icon>
                      <span>เอกสาร</span>
                    </a>
                  </li>
                }
                {course.data.url.other && course.data.url.other.map(({ url, label }) => (
                  <li>
                    <a class="course-btn bg-gray-600 hover:bg-gray-800" href={url}>{label}</a>
                  </li>
                ))}
              </ul>
            </div>
          </div>
        </li>
      ))}
      <li class="text-center bg-gray-50 py-4 px-2 rounded-lg mt-2 text-lg">
        กำลังจัดทำคอร์สเรียนอื่นๆอย่างต่อเนื่อง สามารถติดตามได้ที่
        <ul class="inline-flex gap-2">
          <li><a class="link" href="https://www.youtube.com/@nakorncode">YouTube</a></li>
          <li><a class="link" href="https://www.facebook.com/nakorncode">Facebook</a></li>
          <li><a class="link" href="https://discord.gg/fPtPJgWcF3">Discord</a></li>
        </ul>
      </li>
    </ul>
  </div>
</BaseLayout>

<style>
[data-icon] {
  @apply text-xl
}
.course-btn {
  @apply flex items-center gap-1 px-3 py-2 text-white rounded-md transition;
}
</style>
