---
import '@fontsource/sarabun/400.css';
import '@fontsource/sarabun/700.css';
import { Image } from 'astro:assets'
import nakorncodeLabelImage from '../assets/nakorncode-label.png'
const title = 'นครโค้ด สอนพัฒนาโปรแกรม'
const currentPathname = new URL(Astro.request.url).pathname

function isActiveLink(url: string, isExact?: boolean): 'navbar-link-active' | undefined {
  return (isExact ? currentPathname === url : currentPathname.startsWith(url))
    ? 'navbar-link-active'
    : undefined
}
---

<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
</head>
<body class="text-gray-800 flex flex-col min-h-screen">
  <section id="notification" class="text-sm py-1 px-3 bg-yellow-100 text-yellow-900 font-bold shadow flex justify-center items-center gap-3">
    <p>
      ยินดีต้อนรับสู่เว็บไซต์ "นครโค้ด" รูปแบบใหม่ของเรา เพื่อรองรับกับเนื้อหาใหม่ที่กำลังจัดทำ หากต้องการเข้าเว็บไซต์เก่าสามารถดูได้ที่ <a href="https://archive.nakorncode.com/" class="link">https://archive.nakorncode.com/</a>
    </p>
    <button type="button" class="bg-blue-700 text-white hover:bg-blue-900 transition py-1 px-2 rounded shadow" onclick="closeNotification()">ปิดข้อความ</button>
  </section>

  <nav class="py-4">
    <div class="container">
      <div class="flex items-center gap-2">
        <a href="/">
          <Image class="w-20" src={nakorncodeLabelImage} alt={title}></Image>
        </a>
        <ul class="flex items-center gap-1">
          <li><a class:list={['navbar-link', isActiveLink('/', true)]} href="/">หน้าหลัก</a></li>
          <li><a class:list={['navbar-link', isActiveLink('/courses')]} href="/courses">คอร์สเรียนฟรี</a></li>
          <!-- <li><a class:list={['navbar-link', isActiveLink('/workshops')]} href="/workshops">คอร์สเรียนพิเศษ</a></li> -->
          <li><a class:list={['navbar-link', isActiveLink('/cheatsheets')]} href="/cheatsheets">สูตรโกงเขียนโค้ด</a></li>
          <li><a class="navbar-link" href="https://archive.nakorncode.com/">เว็บไซต์เก่า</a></li>
        </ul>
        <ul class="ml-auto flex items-center gap-1">
          <li><a class="navbar-link" href="https://www.youtube.com/@nakorncode">YouTube</a></li>
          <li><a class="navbar-link" href="https://discord.gg/fPtPJgWcF3">Discord</a></li>
          <li><a class="navbar-link" href="https://www.facebook.com/nakorncode">Facebook</a></li>
          <li><a class="navbar-link" href="https://github.com/nakorncode">GitHub</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="flex-1">
    {Astro.slots.has('default') &&
      <main class="mt-4">
        <div class="container">
          <slot></slot>
        </div>
      </main>
    }

    <slot name="outer"></slot>
  </div>

  <footer class="mt-8 py-6 bg-gray-100">
    <div class="container">
      <section class="grid gap-4 grid-cols-4">
        <div class="col-span-2">
          <div class="flex gap-2 items-center">
            <div>
              <Image class="w-28" src={nakorncodeLabelImage} alt={title}></Image>
            </div>
            <div>
              <p class="font-bold text-lg">นครโค้ด สอนพัฒนาโปรแกรม</p>
              <p>สำหรับสายงาน Full-stack Web Developer</p>
            </div>
          </div>
          <p class="mt-4 text-sm">คอร์สเรียนฟรีสำหรับการพัฒนาโปรแกรม และโปรแกรมเมอร์ต่างๆ เพื่อการเรียนรู้ที่ดีมากขึ้น ทางเว็บไซต์จะมีการจัดลำดับการเรียนรู้ให้เหมาะสม ลดความสับสนการเรียนตามขั้นตอน พร้อมเอกสารการเรียนรู้ประกอบการเรียน</p>
        </div>
        <div class="text-right">
          <h2 class="text-lg font-bold">หน้าเพจทั้งหมด</h2>
          <ul class="mt-2 space-y-1">
            <li><a href="/courses">คอร์สเรียนฟรี</a></li>
            <li><a href="/cheatsheets">สูตรโกงเขียนโค้ด</a></li>
          </ul>
        </div>
        <div class="text-right">
          <h2 class="text-lg font-bold">ติดตามเราได้ที่</h2>
          <ul class="mt-2 space-y-1">
            <li><a href="https://www.youtube.com/@nakorncode">YouTube</a></li>
            <li><a href="https://discord.gg/fPtPJgWcF3">Discord</a></li>
            <li><a href="https://www.facebook.com/nakorncode">Facebook</a></li>
            <li><a href="https://github.com/nakorncode">GitHub</a></li>
          </ul>
        </div>
      </section>
      <div class="mt-6 text-center">Copyright © {new Date().getFullYear()} nakorncode.com All rights reserved.</div>
    </div>
  </footer>
</body>
</html>

<script is:inline>
  const notificationEl = document.getElementById('notification')
  const notificationClosedKey = 'notificationClosed'
  const isClosed = localStorage.getItem(notificationClosedKey)
  if (isClosed === 'true') {
    notificationEl.style.display = 'none'
  }
  function closeNotification() {
    if (notificationEl) {
      notificationEl.style.display = 'none'
      localStorage.setItem(notificationClosedKey, 'true')
    }
  }
</script>

<style>
  .navbar-link {
    @apply py-2 px-3 rounded-md hover:bg-slate-200 transition;
  }
  .navbar-link-active {
    @apply bg-blue-700 text-white hover:bg-blue-900;
  }
</style>

<style is:global>
  .link {
    @apply text-blue-700 underline hover:text-blue-900 transition;
  }
</style>
